{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
</script>

{% for graph in graphs %}

<div id="graph{{ loop.index0 }}"></div></div>
<script type="text/javascript" charset="utf-8">
    d3.json('/stream?sensors={{ ",".join(graph["sensors"]) }}', function(data) {
      var lines = [
        {% for s in graph["sensors"] %}
           data.filter(function(e) { return e["sensor"] == "{{ s }}"}).map(function(e) {
             e["{{ graph["x"] }}"] = new Date(e["{{ graph["x"] }}"])
             return e
           }),
        {% endfor %}
      ];
      var graph = {
        title: "{{ graph["title"] }}",
        area: false,
        data: lines,
        min_y_from_data: true,
        top: 30,
        width: 600,
        height: 150,
        right: 40,
        target: document.getElementById('graph{{ loop.index0 }}'),
        x_accessor: '{{ graph["x"] }}',
        y_accessor: '{{ graph["y"] }}'
        };
      MG.data_graphic(graph);

      console.log("Graph initilized")
      {% for s in graph["sensors"] %}
      console.log("set up polling for {{ s }}")
      socket.on('sensor-{{ s }}', function(data){
        data["timestamp"] = new Date(data["timestamp"])
        console.log("Update from " + data["timestamp"])
        graph["data"][0].push(data);
        MG.data_graphic(graph);
      });
      {% endfor %}
    })
</script>
{% endfor %}
{% endblock %}