{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
</script>

{% for graph in graphs %}

<div id="graph{{ loop.index0 }}"></div></div>
<script type="text/javascript" charset="utf-8">
    d3.json('/stream?topics={{ ",".join(graph["data"]) }}&age={{ graph["age"] }}', function(data) {
      data = data.map(function(e) {
        e["{{ graph["x"] }}"] = new Date(e["{{ graph["x"]}}"])
        return e
      })
      
      {% if graph["series"] %}
      var groups = [...new Set(data.map(function(d) { return d["{{graph["series"]}}"]}))];
      var lines = groups.map(function(g) {
        return data.filter(function(d) { return d["{{graph["series"]}}"] == g})
      })
      {% else %}
      var groups = [];
      var lines = data
      {% endif %}

      var graph = {
        title: "{{ graph["title"] }}",
        area: false,
        data: lines,
        min_y_from_data: true,
        y_rug: true,
        aggregate_rollover: true,
        top: 30,
        width: 700,
        height: 300,
        right: 40,
        target: document.getElementById('graph{{ loop.index0 }}'),
        x_accessor: '{{ graph["x"] }}',
        y_accessor: '{{ graph["y"] }}',
        transition_on_update: data.length < 100,
        };
      MG.data_graphic(graph);

      console.log("Graph initilized")
      {% for t in graph["data"] %}
      console.log("set up polling for {{ t }}")
      socket.on('{{t}}', function(data){
        {% if graph["series"] %}
          var series = groups.indexOf(data["{{graph["series"]}}"])
        {% else %}
          var series = 0
        {% endif %}
        
        data["timestamp"] = new Date(data["timestamp"])
        console.log("Update from {{ t }}:" + series + " " + data["timestamp"])
        graph["data"][series].push(data);
        MG.data_graphic(graph);
        console.log("Update complete {{ t }}:" + series + " " + data["timestamp"])
      });
      {% endfor %}
    })
</script>
{% endfor %}
{% endblock %}